.visuale-hidden {
  position: absolute;
  padding: 0;
  border: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__element {
  color: #2196f3;
}

.logo--header {
  padding-top: 24px;
  padding-bottom: 25px;
  color: #000000;
  /*@media screen and (min-width: $tablet) {
      margin-right: 88px;
    }

    @media screen and (min-width: $desktop) {
      margin-right: 93px;
    }*/
}

.logo--footer {
  display: block;
  margin-bottom: 20px;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .logo--footer {
    text-align: left;
  }
}

.button {
  display: inline-block;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  font-style: normal;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border-width: 0;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0;
  color: #212121;
  background-color: #f5f4fa;
  transition: background-color 2500ms cubic-bezier(0.4, 0, 0.2, 1), color 2500ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button--order-button {
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 200px;
  min-height: 50px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 4px;
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.button--active, .button:hover, .button:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button--not-active {
  color: #212121;
  background-color: #f5f4fa;
}

.button__svg--right {
  display: inline-block;
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: #ffffff;
}

/*.svg-burger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 16px;
  fill: #000;
}*/
.social-list {
  display: flex;
  justify-content: space-between;
  width: 206px;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .social-list {
    padding-bottom: 30px;
  }
}

.social-list--team-margin {
  padding-bottom: 24px;
}

.social-list--footer-margin {
  margin-top: 20px;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: background-color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: #2196f3;
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: #ffffff;
}

.social-list__icon--white-icon {
  fill: #ffffff;
}

.social-list__link--transparent-bg {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-uppercase-features, .title-uppercase-projects, .title-uppercase-footer {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
}

.title-uppercase-features {
  margin-bottom: 10px;
  color: #212121;
}

@media screen and (min-width: 768px) {
  .title-uppercase-features {
    text-align: left;
  }
}

.title-uppercase-projects {
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .title-uppercase-projects {
    text-align: left;
  }
}

.title-uppercase-footer {
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .title-uppercase-footer {
    text-align: left;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header .container {
    justify-content: space-between;
  }
}

.header__menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.header__menu-container.is-open {
  display: block;
}

@media screen and (max-width: 767px) {
  .header__menu-container {
    display: none;
    position: absolute;
    top: 101%;
    left: 0;
    padding: 60px 0;
    width: 100%;
    background-color: #ffffff;
  }
}

.header__button-mobile-switch {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 40px;
  width: 40px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .header__button-mobile-switch {
    display: none;
  }
}

.header__svg-mobile-switch {
  width: 40px;
  height: 40px;
  fill: #212121;
  transition: fill 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__button-mobile-switch:hover .header__svg-mobile-switch {
  fill: #2196f3;
}

.header__button-mobile-switch .header__use-close {
  display: none;
}

.header__button-mobile-switch.is-open .header__use-close {
  display: block;
}

.header__button-mobile-switch.is-open .header__use-menu {
  display: none;
}

.navigation__list {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .navigation__list {
    display: flex;
    font-size: 14px;
    line-height: 1.14;
  }
}

.navigation__item {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .navigation__item:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .navigation__item:not(:last-child) {
    margin-right: 50px;
  }
}

.navigation__link {
  position: relative;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #212121;
  transition: color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .navigation__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.navigation__link:hover, .navigation__link:focus, .navigation__link--current {
  color: #2196f3;
}

.navigation__link--current::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: #2196f3;
  background-image: linear-gradient(to right, #2196f3);
}

/*%address {
  font-size: 14px;
}*/
.address--header {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  /*@media screen and (max-width: $tablet - 1px) {
    font-size: 18px;
    line-height: 1.17;
  }*/
}

@media screen and (max-width: 767px) {
  .address--header {
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) {
  .address--header {
    margin-left: 84px;
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .address--header {
    margin-left: 305px;
    font-size: 14px;
    line-height: 1.14;
  }
}

.address--footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

@media screen and (max-width: 767px) {
  .address__item--header {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .address__item--header {
    display: inline-block;
  }
}

@media screen and (max-width: 767px) {
  .address__item--header:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 1199px) {
  .address__item--header:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .address__item--header:not(:last-child) {
    margin-right: 50px;
  }
}

.address__item--footer:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .address__item--footer:not(:last-child) {
    margin-bottom: 9px;
  }
}

@media screen and (min-width: 1200px) {
  .address__item--footer {
    text-align: left;
  }
}

.address__link {
  display: inline-flex;
  transition: color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link--header {
  color: #757575;
}

.address__link--footer-white {
  color: #ffffff;
}

.address__link--footer-grey {
  color: rgba(255, 255, 255, 0.6);
}

.address__link:hover, .address__link:focus {
  color: #2196f3;
}

.address__svg {
  margin-right: 10px;
  fill: currentColor;
}

.section-hero {
  padding-top: 118px;
  padding-bottom: 118px;
  min-height: 400px;
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/hero/hero-bg-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /*.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }*/
}

@media screen and (min-width: 768px) {
  .section-hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/hero/hero-bg-tablet.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .section-hero {
    padding-top: 200px;
    padding-bottom: 200px;
    min-height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/hero/hero-bg-desktop.jpg");
  }
}

.section-hero__title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 360px;
  text-align: center;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (max-width: 479px) {
  .section-hero__title {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .section-hero__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/hero/hero-bg-mobile@2x.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .section-hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/hero/hero-bg-tablet@2x.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .section-hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/hero/hero-bg-desktop@2x.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 3), screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx) {
  .section-hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/hero/hero-bg-mobile@3x.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 3) and (min-width: 768px), screen and (min-resolution: 288dpi) and (min-width: 768px), screen and (min-resolution: 3dppx) and (min-width: 768px) {
  .section-hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/hero/hero-bg-tablet@3x.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 3) and (min-width: 1200px), screen and (min-resolution: 288dpi) and (min-width: 1200px), screen and (min-resolution: 3dppx) and (min-width: 1200px) {
  .section-hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/hero/hero-bg-desktop@3x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .section-features__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 768px) {
  .section-features__item {
    margin: 15px;
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .section-features__item {
    flex-basis: calc(100% / 4 - 30px);
  }
}

@media screen and (max-width: 767px) {
  .section-features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.section-features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.section-features__item::before {
  display: block;
  content: "";
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.section-features__item:nth-child(1)::before {
  background-image: url(../images/icons/antenna-bg.svg);
}

.section-features__item:nth-child(2)::before {
  background-image: url(../images/icons/clock-bg.svg);
}

.section-features__item:nth-child(3)::before {
  background-image: url(../images/icons/diagram-bg.svg);
}

.section-features__item:nth-child(4)::before {
  background-image: url(../images/icons/astronaut-bg.svg);
}

.section-projects {
  padding-top: 0;
}

@media screen and (max-width: 1199px) {
  .section-projects {
    display: none;
  }
}

.section-projects__list {
  display: flex;
}

.section-projects__item {
  position: relative;
  background-color: #f5f4fa;
}

.section-projects__item:not(:last-child) {
  margin-right: 30px;
}

.section-projects__title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  min-height: 70px;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: rgba(47, 48, 58, 0.8);
}

.section-team {
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .section-team__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.section-team__item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .section-team__item {
    margin: 15px;
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .section-team__item {
    flex-basis: calc(100% / 4 - 30px);
  }
}

@media screen and (max-width: 767px) {
  .section-team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.section-team__title-surname {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #212121;
}

.section-team__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.section-clients__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.section-clients__item {
  margin: 15px;
  flex-basis: calc(100% / 2 - 30px);
}

@media screen and (min-width: 768px) {
  .section-clients__item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .section-clients__item {
    flex-basis: calc(100% / 6 - 30px);
  }
}

.section-clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  height: 90px;
  color: #afb1b8;
  transition: color 2500ms cubic-bezier(0.4, 0, 0.2, 1), border-color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-clients__link:hover, .section-clients__link:focus {
  border-color: #2196f3;
  color: #2196f3;
}

.section-clients__icon {
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer .container {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer .container > div {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 1199px) {
  .footer .container div:not(:last-child) {
    margin-bottom: 60px;
  }
}

.footer__button-mobile-switch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 40px;
  width: 40px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.footer__svg-mobile-switch {
  fill: #212121;
  transition: fill 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__button-mobile-switch:hover .footer__svg-mobile-switch {
  fill: #2196f3;
}

.footer__button-mobile-switch .footer__use-close {
  display: none;
}

.footer__button-mobile-switch.is-open .footer__use-close {
  display: block;
}

.footer__button-mobile-switch.is-open .footer__use-menu {
  display: none;
}

.form-footer {
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .form-footer {
    display: flex;
  }
}

.form-footer__field {
  display: block;
  margin-bottom: 20px;
  padding: 15px 16px;
  width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0);
  outline: none;
  color: rgba(255, 255, 255, 0.6);
  transition: border 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 479px) {
  .form-footer__field {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .form-footer__field {
    margin-right: 12px;
    width: 358px;
  }
}

.form-footer__field:focus {
  border: 1px solid #2196f3;
}

.form-footer__field::placeholder {
  color: rgba(255, 255, 255, 0.6);
  transition: color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-footer__field:hover::placeholder, .form-footer__field:focus::placeholder {
  color: #2196f3;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  pointer-events: none;
  opacity: 0;
}

.is-hidden .modal {
  transform: translate(100%, -50%) scale(0.1);
}

.backdrop .container {
  height: 100vw;
}

.modal {
  position: absolute;
  top: 93px;
  left: 50%;
  padding: 40px;
  min-height: 609px;
  width: 450px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, 0) scale(1);
  transition: transform 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 479px) {
  .modal {
    width: calc(100% - 30px);
  }
}

@media screen and (min-width: 768px) {
  .modal {
    top: 208px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    top: 221px;
    min-height: 581px;
    width: 528px;
  }
}

.modal__button-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;
  background: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal__svg-close {
  width: 11px;
  height: 11px;
  fill: #000;
  transition: fill 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button-close:hover .modal__svg-close {
  fill: #2196f3;
}

.modal__text {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 12px;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .modal__text {
    line-height: 1.17;
  }
}

.form-modal__label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-modal__label:not(:first-child) {
  margin-top: 10px;
}

.form-modal__input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.form-modal__field {
  padding: 11px 12px 11px 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal__svg-field {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: #212121;
  transition: fill 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal__field:hover, .form-modal__field:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.form-modal__field:hover + .form-modal__svg-field,
.form-modal__field:focus + .form-modal__svg-field {
  fill: #2196f3;
}

.form-modal__field--textarea {
  display: block;
  padding: 12px 16px;
  height: 120px;
  margin-top: 4px;
}

.form-modal__field--textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  transition: color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .form-modal__field--textarea::placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
}

.form-modal__field--textarea:hover::placeholder, .form-modal__field--textarea:focus::placeholder {
  color: #2196f3;
}

.form-modal__checkbox-contract:checked + .form-modal__label-contract-text::before {
  background-image: url(../images/icons/check.svg);
  border: none;
}

.form-modal__label-contract-text {
  display: flex;
  align-items: center;
  margin: 20px auto 30px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
}

@media screen and (min-width: 1200px) {
  .form-modal__label-contract-text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.form-modal__label-contract-text::before {
  content: "";
  margin-right: 5px;
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
}

.form-modal__link-contract {
  color: #2196f3;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
/*# sourceMappingURL=main.css.map */