.section-clients {
  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    width: 170px;
    height: 90px;
    color: #afb1b8;

    transition: color $transition-duration $transition-timing-function,
      border-color $transition-duration $transition-timing-function;
  }

  &__link:hover,
  &__link:focus {
    border-color: $accent-color-text;
    color: $accent-color-text;
  }

  &__icon {
    fill: currentColor;
  }
}
