.section-features {
  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
  }

  &__item::before {
    display: block;
    content: "";
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: $add-bg-color;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  $map: (
    "1": "antenna",
    "2": "clock",
    "3": "diagram",
    "4": "astronaut",
  );
  @each $namber, $name in $map {
    &__item:nth-child(#{$namber})::before {
      background-image: url(../images/icons/#{$name}-bg.svg);
    }
  }
}
