.filter__list {
  margin-top: -15px;
  margin-bottom: 40px;

  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;
  }
}

.filter__item {
  display: inline-block;
  margin-top: 15px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__project-list {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.filter__project-item {
  box-shadow: 0;
  transition: box-shadow $transition-duration $transition-timing-function;

  @media screen and (min-width: $tablet) {
    margin: 15px;
    flex-basis: calc(100% / 2 - 30px);
  }

  @media screen and (min-width: $desktop) {
    margin: 15px;
    flex-basis: calc(100% / 3 - 30px);
  }

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.filter__project-item:not(:last-child) {
  @media screen and (max-width: $mobile - 1px) {
    margin-bottom: 30px;
  }
}

.filter__project-link {
  display: inline-block;
}

.filter__project-thumb-image {
  position: relative;
  overflow: hidden;
}

.filter__project-img {
  display: inline-block;
  width: 450px;
  height: 294px;
  background-color: tomato;

  @media screen and (min-width: $tablet) {
    width: 354px;
    height: 294px;
  }

  @media screen and (min-width: $desktop) {
    width: 370px;
    height: 294px;
  }
}

.filter__project-overlay {
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0 24px;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(0%);
  transition: transform $transition-duration $transition-timing-function;
}

.filter__project-link:hover .filter__project-overlay,
.filter__project-link:focus .filter__project-overlay {
  transform: translateY(-100%);
}

.filter__project-overlay-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  color: $main-bg-color;
}

.filter__project-thumb {
  border: 1px solid #eee;
  padding: 20px 24px;
}

.filter__project-title {
  color: $add-color-text;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.filter__project-text {
  color: $main-color-text;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}
