.navigation {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }

  &__item:not(:last-child) {
    margin-right: 50px;
  }

  &__link {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    color: $add-color-text;

    transition: color $transition-duration $transition-timing-function;
  }

  &__link:hover,
  &__link:focus,
  &__link--current {
    color: $accent-color-text;
  }

  &__link--current::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: $accent-color-text;
    background-image: linear-gradient(to right, $accent-color-text);
  }
}
