.button {
  display: inline-block;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  font-style: normal;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border-width: 0;
  border-radius: 4px;
  cursor: pointer;

  box-shadow: 0;
  color: $add-color-text;
  background-color: $add-bg-color;
  transition: background-color $transition-duration $transition-timing-function,
    color $transition-duration $transition-timing-function,
    box-shadow $transition-duration $transition-timing-function;

  &--order-button {
    //display: inline-flex;
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 200px;
    min-height: 50px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 4px;
    color: $main-bg-color;
    background-color: $accent-color-text;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
  }

  &--active,
  &:hover,
  &:focus {
    color: $main-bg-color;
    background-color: $accent-color-text;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }

  &--not-active {
    color: $add-color-text;
    background-color: $add-bg-color;
  }

  &__svg--right {
    display: inline-block;
    margin-left: 10px;
    width: 24px;
    height: 24px;
    fill: $main-bg-color;
  }
}

/*.svg-burger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 16px;
  fill: #000;
}*/
