.form-footer {
  margin-top: 20px;

  @media screen and (min-width: $desktop) {
    display: flex;
  }

  &__field {
    display: block;
    margin-bottom: 20px;
    padding: 15px 16px;
    width: 450px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    color: rgba(255, 255, 255, 0.6);

    transition: border $transition-duration $transition-timing-function;

    @media screen and (max-width: $mobile - 1px) {
      width: 100%;
    }

    @media screen and (min-width: $desktop) {
      margin-right: 12px;
      width: 358px;
    }
  }

  &__field:focus {
    border: 1px solid $accent-color-text;
  }

  &__field::placeholder {
    color: rgba(255, 255, 255, 0.6);

    transition: color $transition-duration $transition-timing-function;
  }

  &__field:hover::placeholder,
  &__field:focus::placeholder {
    color: $accent-color-text;
  }
}
