.form-modal {
  //display: flex;
  //flex-direction: column;

  &__label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
  }

  &__label:not(:first-child) {
    margin-top: 10px;
  }

  &__input-wrapper {
    position: relative;
    display: block;
    margin-top: 4px;
  }

  &__field {
    padding: 11px 12px 11px 42px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border $transition-duration $transition-timing-function;
  }

  &__svg-field {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    fill: $add-color-text;

    transition: fill $transition-duration $transition-timing-function;
  }

  &__field:hover,
  &__field:focus {
    outline: none;
    border: 1px solid $accent-color-text;
  }

  &__field:hover + &__svg-field,
  &__field:focus + &__svg-field {
    fill: $accent-color-text;
  }

  &__field--textarea {
    display: block;
    padding: 12px 16px;
    height: 120px;
    margin-top: 4px;

    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.01em;
      color: rgba(117, 117, 117, 0.5);

      transition: color $transition-duration $transition-timing-function;

      @media screen and (min-width: $desktop) {
        font-size: 12px;
        line-height: 1.17;
      }
    }

    &:hover::placeholder,
    &:focus::placeholder {
      color: $accent-color-text;
    }
  }

  &__checkbox-contract:checked + &__label-contract-text::before {
    background-image: url(../images/icons/check.svg);
    border: none;
  }

  &__label-contract-text {
    display: flex;
    align-items: center;
    margin: 20px auto 30px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;

    @media screen and (min-width: $desktop) {
      font-size: 14px;
      line-height: 1.71;
    }
  }

  &__label-contract-text::before {
    content: "";
    margin-right: 5px;
    width: 16px;
    height: 15px;
    border: 1px solid $add-color-text;
  }

  &__link-contract {
    color: $accent-color-text;
    text-decoration: underline;
    text-decoration-skip-ink: none;
  }
}
