*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $main-bg-color;
  color: $main-color-text;

  font-family: Roboto, sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}
